claudia.haml
!!!
%head
  %title ACGI Video Viewer
  %link(rel="stylesheet" type="text/css" href="css/style.css")
%body
  .viewer
    .sidebar
      %header.sidebar__header
        .sidebar__disclaimer
          %h6 For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.
        %h1 <strong>Name</strong>: Claudia
        %h2 <strong>Location</strong>: AASLD on 20160524
        %h3 <strong>About</strong>: Works for the foundation side, enters in donations and does reporting
      %ul.subtitles
        %li
          %a(href="#" onclick="bookmarkNav(this)") 04.42
          %strong 5 Second Test: 1
          Recognized the navigation on the left side

        %li
          %a(href="#" onclick="bookmarkNav(this)") 05.28
          %strong 5 Second Test: 2
          "The navigation menu is popped up and has all the options."

        %li
          %a(href="#" onclick="bookmarkNav(this)") 07.06
          %strong First Log In
          Takes 7 seconds for it to load the first time

        %li
          %a(href="#" onclick="bookmarkNav(this)") 07.55
          %strong 2a: Expo attendees
          Seems to have an easy time exploring through the menus. "I find it easier with the... options this way... I find it easier to navigate than the way that we have it right now"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 09.40
          %strong 2b: New Member
          Same Problem with clicking into the interior of the reporting tab instead of clicking directly into the customer tab. This is where she first ran into the issues with having to collapse the individual headers instead


        %li
          %a(href="#" onclick="bookmarkNav(this)") 10.45
          %strong 2c: Check for duplicates
          Goes to a standard lookup through Customers > Individual

        %li
          %a(href="#" onclick="bookmarkNav(this)") 12.05
          %strong 2d: Set current Batch
          Goes into accounting and creates a batch. Says "Batch usually shows up on the left side." Explores for a while into the left menu, ends up setting it directly on the admin page instead of trying to figure out how to set it on the screen in general. She's creating a new batch instead of trying to figure out how to set her current batch.
          <br><br>

          It took her a while to see where the batch actually was, and she was somewhat apprehensive about this. "It would take some getting used to... but I guess it is more visible and I like that you don't have to refresh"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 15.20
          %strong 2e: Issue a refund
          Goes into an invidiual customer. Shows how she would get to a specific invoice to cancel it out.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 17.20
          %strong 3: Switch view location
          "I had an easier time finding that one than the other ones" - a little apprehensive but not necessarily against it.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 18.40
          %strong 2f: Find a customer by their email address
          Immediately identified icons on the left side.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 19.27
          %strong 4: Random location test
          Takes a couple seconds to think (This might be an issue with the question.) Uses the breadcrumbs to figure out where she is, but also notices the navigational expansion

        %li
          %a(href="#" onclick="bookmarkNav(this)") 21.13
          %strong 5a: Recents explanation
          Recent Members that you've looked up

        %li
          %a(href="#" onclick="bookmarkNav(this)") 21.40
          %strong 5b: Favorites
          Any places that you've added to your favorites

        %li
          %a(href="#" onclick="bookmarkNav(this)") 21.58
          %strong 5c: Close
          Closes the navgati pane

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.09
          %strong 5d: Stay Closed
          "Make it stay closed so it doesn't pop up"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.22
          %strong 5a: Recents exploration
          "Just as I expected"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.32
          %strong 5b: Favorites exploration
          No issues

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.40
          %strong 5c: Close Exploration
          No issues

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.50
          %strong 5d: Stay Closed Exploration
          "The regular menu didn't pop up, but it popped up this menu." A little bit confused about the actions menu, but not much of an issue here.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 25.02
          %strong 7: Search field
          One on the right, more specific for customers or batches. Left: if you need a specific page.
          <br><br>
          After test search: She shows the system hierarchy and understand how she would work with it. Tries a partial word search

        %li
          %a(href="#" onclick="bookmarkNav(this)") 27.10
          %strong 9: Log out
          Finds the log out instantly

        %li
          %a(href="#" onclick="bookmarkNav(this)") 27.47
          %strong 10: Refine search
          Doesn't particularly understand what it is and why it works that way.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 28.38
          %strong Begin open response and process work.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 29.00
          %strong Expansion issues
          Here she talks about how she doesn't like having to close each accordion individually.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 31.50
          %strong Batch viewe
          She navigates to a batch screen to look at if we've changed the batch view at all. "I'm just kinda glad that this is the same."

        %li
          %a(href="#" onclick="bookmarkNav(this)") 33.00
          %strong Expansion issues (again!)
          She says that the only issue that she has with the changes so far is having to close each accordion. Her first suggestion is hover expansion. I propose mutually exclusive, which she's open to. I propose a close all button, and she indicates that she would prefer exclusivity.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 34.45
          %strong Chris report
          They use Chris' reports a lot internally, so the fact that they're currently broken is significantly bad.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 36.00
          %strong Add to favorites
          She tries to click button to add the favorite. Tries to click it again to remove the favorite. Takes a bit for her to understand how they're set up. Is confused by the grid view.


        %li
          %a(href="#" onclick="bookmarkNav(this)") 40.46
          %strong Interview End

    .video__wrapper
      %video#testrecording(controls)
        %source(src="source_videos/claudia_full.mov" type="video/mp4")
    .videoSpeedControls
      %button(href="#" onClick="playSpeed(1.0)") 1x
      %button(href="#" onClick="playSpeed(1.5)") 1.5x
      %button(href="#" onClick="playSpeed(2.0)") 2x
      %button(href="#" onClick="playSpeed(3.0)") 3x
  :javascript
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }

claudia.html
<!DOCTYPE html>
<head>
  <title>ACGI Video Viewer</title>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='viewer'>
    <div class='sidebar'>
      <header class='sidebar__header'>
        <div class='sidebar__disclaimer'>
          <h6>For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.</h6>
        </div>
        <h1><strong>Name</strong>: Claudia</h1>
        <h2><strong>Location</strong>: AASLD on 20160524</h2>
        <h3><strong>About</strong>: Works for the foundation side, enters in donations and does reporting</h3>
      </header>
      <ul class='subtitles'>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>04.42</a>
          <strong>5 Second Test: 1</strong>
          Recognized the navigation on the left side
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>05.28</a>
          <strong>5 Second Test: 2</strong>
          "The navigation menu is popped up and has all the options."
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>07.06</a>
          <strong>First Log In</strong>
          Takes 7 seconds for it to load the first time
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>07.55</a>
          <strong>2a: Expo attendees</strong>
          Seems to have an easy time exploring through the menus. "I find it easier with the... options this way... I find it easier to navigate than the way that we have it right now"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>09.40</a>
          <strong>2b: New Member</strong>
          Same Problem with clicking into the interior of the reporting tab instead of clicking directly into the customer tab. This is where she first ran into the issues with having to collapse the individual headers instead
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>10.45</a>
          <strong>2c: Check for duplicates</strong>
          Goes to a standard lookup through Customers > Individual
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>12.05</a>
          <strong>2d: Set current Batch</strong>
          Goes into accounting and creates a batch. Says "Batch usually shows up on the left side." Explores for a while into the left menu, ends up setting it directly on the admin page instead of trying to figure out how to set it on the screen in general. She's creating a new batch instead of trying to figure out how to set her current batch.
          <br><br>
          It took her a while to see where the batch actually was, and she was somewhat apprehensive about this. "It would take some getting used to... but I guess it is more visible and I like that you don't have to refresh"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>15.20</a>
          <strong>2e: Issue a refund</strong>
          Goes into an invidiual customer. Shows how she would get to a specific invoice to cancel it out.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>17.20</a>
          <strong>3: Switch view location</strong>
          "I had an easier time finding that one than the other ones" - a little apprehensive but not necessarily against it.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>18.40</a>
          <strong>2f: Find a customer by their email address</strong>
          Immediately identified icons on the left side.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>19.27</a>
          <strong>4: Random location test</strong>
          Takes a couple seconds to think (This might be an issue with the question.) Uses the breadcrumbs to figure out where she is, but also notices the navigational expansion
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>21.13</a>
          <strong>5a: Recents explanation</strong>
          Recent Members that you've looked up
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>21.40</a>
          <strong>5b: Favorites</strong>
          Any places that you've added to your favorites
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>21.58</a>
          <strong>5c: Close</strong>
          Closes the navgati pane
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.09</a>
          <strong>5d: Stay Closed</strong>
          "Make it stay closed so it doesn't pop up"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.22</a>
          <strong>5a: Recents exploration</strong>
          "Just as I expected"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.32</a>
          <strong>5b: Favorites exploration</strong>
          No issues
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.40</a>
          <strong>5c: Close Exploration</strong>
          No issues
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.50</a>
          <strong>5d: Stay Closed Exploration</strong>
          "The regular menu didn't pop up, but it popped up this menu." A little bit confused about the actions menu, but not much of an issue here.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>25.02</a>
          <strong>7: Search field</strong>
          One on the right, more specific for customers or batches. Left: if you need a specific page.
          <br><br>
          After test search: She shows the system hierarchy and understand how she would work with it. Tries a partial word search
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>27.10</a>
          <strong>9: Log out</strong>
          Finds the log out instantly
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>27.47</a>
          <strong>10: Refine search</strong>
          Doesn't particularly understand what it is and why it works that way.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>28.38</a>
          <strong>Begin open response and process work.</strong>
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>29.00</a>
          <strong>Expansion issues</strong>
          Here she talks about how she doesn't like having to close each accordion individually.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>31.50</a>
          <strong>Batch viewe</strong>
          She navigates to a batch screen to look at if we've changed the batch view at all. "I'm just kinda glad that this is the same."
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>33.00</a>
          <strong>Expansion issues (again!)</strong>
          She says that the only issue that she has with the changes so far is having to close each accordion. Her first suggestion is hover expansion. I propose mutually exclusive, which she's open to. I propose a close all button, and she indicates that she would prefer exclusivity.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>34.45</a>
          <strong>Chris report</strong>
          They use Chris' reports a lot internally, so the fact that they're currently broken is significantly bad.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>36.00</a>
          <strong>Add to favorites</strong>
          She tries to click button to add the favorite. Tries to click it again to remove the favorite. Takes a bit for her to understand how they're set up. Is confused by the grid view.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>40.46</a>
          <strong>Interview End</strong>
        </li>
      </ul>
    </div>
    <div class='video__wrapper'>
      <video controls id='testrecording'>
        <source src='source_videos/claudia_full.mov' type='video/mp4'>
      </video>
    </div>
    <div class='videoSpeedControls'>
      <button href='#' onClick='playSpeed(1.0)'>1x</button>
      <button href='#' onClick='playSpeed(1.5)'>1.5x</button>
      <button href='#' onClick='playSpeed(2.0)'>2x</button>
      <button href='#' onClick='playSpeed(3.0)'>3x</button>
    </div>
  </div>
  <script>
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
  </script>
</body>
