jessica.html
<!DOCTYPE html>
<head>
  <title>ACGI Video Viewer</title>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='viewer'>
    <div class='sidebar'>
      <header class='sidebar__header'>
        <div class='sidebar__disclaimer'>
          <h6>For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.</h6>
        </div>
        <h1><strong>Name</strong>: Jessica</h1>
        <h2><strong>Location</strong>: AASLD on 20160524</h2>
        <h3><strong>About</strong>: She works with the CME (continuing ed program.) Also works a lot with speakers. Been here since January (4.5 Months.) Doesn't use the AMS for significant portions of her job (SurveyGizmo and Convention Data Services.) In the city multiple times a day.</h3>
      </header>
      <ul class='subtitles'>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>5.03</a>
          <strong>1: 5 second test 1</strong>
          "It didn't look very busy... Since there weren't the dropdown menus, I don't know where I would go... I would go to customer name" Doesn't know where to navigate otherwise
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>06.30</a>
          <strong>1b: 5 second test 2</strong>
          Sees the left navigation and how to find it "All of the navigation tools would be under that left nav"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>07.56</a>
          <strong>Initial Load</strong>
          7 seconds initial load.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>08.36</a>
          <strong>2a: Email to expo attendees</strong>
          Goes to Marketing and communications. Explores into the left menu quickly and easily. "It's not bombarding you with a lot of dropdowns... it's a bit more specific"
          <br><br>
          She highlights the naming issues and the lookups problem (System redundancy)
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>11.35</a>
          <strong>3a: Switch view</strong>
          Took her a little bit to find it, wasn't entirely sure that she found it. She thought that the switch view might be changing the left menu entirely. Wasn't sure what I meant by "Actions menu" but correctly guesses that it would be under the switch view
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>13.54</a>
          <strong>2b: Create individual member</strong>
          Immediately finds it
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>14.23</a>
          <strong>2c: Check for duplicates</strong>
          Says that she would find it via search
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>15.07</a>
          <strong>2e: Issue a refund</strong>
          Explores into Accounting > Batches
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>16.07</a>
          <strong>2f: Find customer by email address</strong>
          Would go to the customer lookup
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>17.00</a>
          <strong>Can we add lookup by phone number</strong>
          I show her where it is, she didn't realize this was an option. "Sometimes I'll get a voicemail and I'll have a number but can't figure out the name"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>18.00</a>
          <strong>10: Refine search</strong>
          No idea what it does. Clicks into it and is confused by the lack of extra options. "If I click refine search, I would think all of these options would be available."
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>20.09</a>
          <strong>4: Random page</strong>
          "Accounting, somewhere" I think she's determining this by looking at the page contents. Uses the breadcrumbs to figure out where she is. Apparently looks at them to try to figure out how to get to where she is.
          <br><br>
          "I'm actually in reporting, not accounting" So it seems like she didn't see the full tree until she looked over at the left side.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.23</a>
          <strong>5a: Recents explanation</strong>
          Recent activity, recent tabs I was under
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>23.08</a>
          <strong>5b: Favorites explanation</strong>
          Specifically finds reports and favorites them when they're useful
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>24.00</a>
          <strong>5a: Recents exploration</strong>
          Customer recents. "If we were under customers, then that might make more sense." So she's seeing the recents as more contextual.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>25.22</a>
          <strong>Add something to favorites</strong>
          Clicks into edit favorites first. Sees the add on the top right. Long pause followed by "Fine" when asked about it. Likes that you can't inadvertantly add it
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>26.21</a>
          <strong>5c: Close Exploration</strong>
          "Oh yeah, I like that... umm, do I?" "So it's essentially giving you more space." Experiments with it a couple times.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>27.20</a>
          <strong>5d: Stay closed</strong>
          "I'm not sure why you would want it to stay closed... Oh, it got rid of all the other modules." She indicates that it did what she thought it would do (Closing the menu automatically.) Brief concern on how she would get back, but explores into it
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>28.42</a>
          <strong>7: Lookup difference</strong>
          "Finds one of these pages" mouses over the left menu. Right menu is very specific. Immediately just types batches and finds the page that she's looking for. "Pulls up any module that contains this word... very easy to navigate"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>31.49</a>
          <strong>Speaker lookup issues</strong>
          She was very unhappy when she clicked into the speaker and got the basic customer lookup.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>32.20</a>
          <strong>Speaker process</strong>
          Using SurveyGizmo to collect disclosures. Talks about how she's really only navigating to individual records right now, and having a hard time getting a comprehensive view.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>37.30</a>
          <strong>9: Log out</strong>
          "I think this is pretty universal."
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>38.10</a>
          <strong>More about her speaker process</strong>
          Shows an example of the excel sheet that she uses to keep track of the various parts of the speaker process. Speaker proposal is broken for her?
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>41.30</a>
          <strong>Assistant issues</strong>
          She talks about how for the speakers, she works a lot with assistants. Assistants will often reenter information for the doctor's they're representing, resulting in problems with duplicated records with slightly different pieces of information.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>45.50</a>
          <strong>Interview end</strong>
        </li>
      </ul>
    </div>
    <div class='video__wrapper'>
      <video controls id='testrecording'>
        <source src='source_videos/jessica_full.mov' type='video/mp4'>
      </video>
    </div>
    <div class='videoSpeedControls'>
      <button href='#' onClick='playSpeed(1.0)'>1x</button>
      <button href='#' onClick='playSpeed(1.5)'>1.5x</button>
      <button href='#' onClick='playSpeed(2.0)'>2x</button>
      <button href='#' onClick='playSpeed(3.0)'>3x</button>
    </div>
  </div>
  <script>
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
  </script>
</body>

jessica.haml
!!!
%head
  %title ACGI Video Viewer
  %link(rel="stylesheet" type="text/css" href="css/style.css")
%body
  .viewer
    .sidebar
      %header.sidebar__header
        .sidebar__disclaimer
          %h6 For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.
        %h1 <strong>Name</strong>: Jessica
        %h2 <strong>Location</strong>: AASLD on 20160524
        %h3 <strong>About</strong>: She works with the CME (continuing ed program.) Also works a lot with speakers. Been here since January (4.5 Months.) Doesn't use the AMS for significant portions of her job (SurveyGizmo and Convention Data Services.) In the city multiple times a day.
      %ul.subtitles
        %li
          %a(href="#" onclick="bookmarkNav(this)") 5.03
          %strong 1: 5 second test 1
          "It didn't look very busy... Since there weren't the dropdown menus, I don't know where I would go... I would go to customer name" Doesn't know where to navigate otherwise

        %li
          %a(href="#" onclick="bookmarkNav(this)") 06.30
          %strong 1b: 5 second test 2
          Sees the left navigation and how to find it "All of the navigation tools would be under that left nav"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 07.56
          %strong Initial Load
          7 seconds initial load.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 08.36
          %strong 2a: Email to expo attendees
          Goes to Marketing and communications. Explores into the left menu quickly and easily. "It's not bombarding you with a lot of dropdowns... it's a bit more specific"
          <br><br>
          She highlights the naming issues and the lookups problem (System redundancy)

        %li
          %a(href="#" onclick="bookmarkNav(this)") 11.35
          %strong 3a: Switch view
          Took her a little bit to find it, wasn't entirely sure that she found it. She thought that the switch view might be changing the left menu entirely. Wasn't sure what I meant by "Actions menu" but correctly guesses that it would be under the switch view

        %li
          %a(href="#" onclick="bookmarkNav(this)") 13.54
          %strong 2b: Create individual member
          Immediately finds it

        %li
          %a(href="#" onclick="bookmarkNav(this)") 14.23
          %strong 2c: Check for duplicates
          Says that she would find it via search

        %li
          %a(href="#" onclick="bookmarkNav(this)") 15.07
          %strong 2e: Issue a refund
          Explores into Accounting > Batches

        %li
          %a(href="#" onclick="bookmarkNav(this)") 16.07
          %strong 2f: Find customer by email address
          Would go to the customer lookup

        %li
          %a(href="#" onclick="bookmarkNav(this)") 17.00
          %strong Can we add lookup by phone number
          I show her where it is, she didn't realize this was an option. "Sometimes I'll get a voicemail and I'll have a number but can't figure out the name"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 18.00
          %strong 10: Refine search
          No idea what it does. Clicks into it and is confused by the lack of extra options. "If I click refine search, I would think all of these options would be available."

        %li
          %a(href="#" onclick="bookmarkNav(this)") 20.09
          %strong 4: Random page
          "Accounting, somewhere" I think she's determining this by looking at the page contents. Uses the breadcrumbs to figure out where she is. Apparently looks at them to try to figure out how to get to where she is.
          <br><br>
          "I'm actually in reporting, not accounting" So it seems like she didn't see the full tree until she looked over at the left side.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.23
          %strong 5a: Recents explanation
          Recent activity, recent tabs I was under

        %li
          %a(href="#" onclick="bookmarkNav(this)") 23.08
          %strong 5b: Favorites explanation
          Specifically finds reports and favorites them when they're useful

        %li
          %a(href="#" onclick="bookmarkNav(this)") 24.00
          %strong 5a: Recents exploration
          Customer recents. "If we were under customers, then that might make more sense." So she's seeing the recents as more contextual.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 25.22
          %strong Add something to favorites
          Clicks into edit favorites first. Sees the add on the top right. Long pause followed by "Fine" when asked about it. Likes that you can't inadvertantly add it

        %li
          %a(href="#" onclick="bookmarkNav(this)") 26.21
          %strong 5c: Close Exploration
          "Oh yeah, I like that... umm, do I?" "So it's essentially giving you more space." Experiments with it a couple times.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 27.20
          %strong 5d: Stay closed
          "I'm not sure why you would want it to stay closed... Oh, it got rid of all the other modules." She indicates that it did what she thought it would do (Closing the menu automatically.) Brief concern on how she would get back, but explores into it

        %li
          %a(href="#" onclick="bookmarkNav(this)") 28.42
          %strong 7: Lookup difference
          "Finds one of these pages" mouses over the left menu. Right menu is very specific. Immediately just types batches and finds the page that she's looking for. "Pulls up any module that contains this word... very easy to navigate"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 31.49
          %strong Speaker lookup issues
          She was very unhappy when she clicked into the speaker and got the basic customer lookup.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 32.20
          %strong Speaker process
          Using SurveyGizmo to collect disclosures. Talks about how she's really only navigating to individual records right now, and having a hard time getting a comprehensive view.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 37.30
          %strong 9: Log out
          "I think this is pretty universal."

        %li
          %a(href="#" onclick="bookmarkNav(this)") 38.10
          %strong More about her speaker process
          Shows an example of the excel sheet that she uses to keep track of the various parts of the speaker process. Speaker proposal is broken for her?

        %li
          %a(href="#" onclick="bookmarkNav(this)") 41.30
          %strong Assistant issues
          She talks about how for the speakers, she works a lot with assistants. Assistants will often reenter information for the doctor's they're representing, resulting in problems with duplicated records with slightly different pieces of information.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 45.50
          %strong Interview end
          
    .video__wrapper
      %video#testrecording(controls)
        %source(src="source_videos/jessica_full.mov" type="video/mp4")
    .videoSpeedControls
      %button(href="#" onClick="playSpeed(1.0)") 1x
      %button(href="#" onClick="playSpeed(1.5)") 1.5x
      %button(href="#" onClick="playSpeed(2.0)") 2x
      %button(href="#" onClick="playSpeed(3.0)") 3x
  :javascript
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
