julia.haml
!!!
%head
  %title ACGI Video Viewer
  %link(rel="stylesheet" type="text/css" href="css/style.css")
%body
  .viewer
    .sidebar
      %header.sidebar__header
        .sidebar__disclaimer
          %h6 For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.
        %h1 <strong>Name</strong>: Julia Merrill
        %h2 <strong>Location</strong>: AASLD on 20160524
        %h3 <strong>About</strong>: Julia largely works with donations from members I think. I honestly don't remember so that's neat.
      %ul.subtitles
        %li
          %a(href="#" onclick="bookmarkNav(this)") 04.04
          %strong 5 Second Test: 1
          Immediately identified icons on the left side.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 04.59
          %strong 5 Second Test: 2
          Identifies that the left menu is what used to be the tabs. "It looked like main navigation"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 06.47
          %strong 2a: Expo Attendees Email
          No issues, browsed easily and found it.

        %li
          %a(href="#" onclick="bookmarkNav2(this)") 07.56
          %strong 2b: (Create a new customer)
          Here we saw her get lost inside of the reporting navigation because she was looking for customers and clicked into the customers nav inside of reporting instead of the customers module. This is something we saw a few times over.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 08.30
          %strong 2c: Check for Duplicates

        %li
          %a(href="#" onclick="bookmarkNav(this)") 09.10
          %strong 2d: Set a Batch
          Pretty much instantly identified the batch control. Indicates that she needs to set up the batch first.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 09.35
          %strong 2e: Issue a refund
          Grid display bug at 12.04

        %li
          %a(href="#" onclick="bookmarkNav(this)") 12.25
          %strong 3a & 3b: Switch View and Actions
          She assumed that the switch view and actions would be part of the main navigation, so that's why she looked over there

        %li
          %a(href="#" onclick="bookmarkNav(this)") 13.05
          %strong 2f: Find by Email
          The only person who actually knew what refine search is or does.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 14.50
          %strong 4: Random Page Test 1
          Determines where she is by using the breadcrumbs

        %li
          %a(href="#" onclick="bookmarkNav(this)") 15.26
          %strong 4: Random Page Test 2

        %li
          %a(href="#" onclick="bookmarkNav(this)") 16.00
          %strong 5a-d: Menu Functions
          Recents - Where I've recently been (Recants at 17.33, but still identified it incorrectly). Correctly identifies Close Button. Isn't sure what the stay closed

        %li
          %a(href="#" onclick="bookmarkNav(this)") 18.41
          %strong Discussion of customer focus
          She talks about how she works on specific customers, and how she switches between these different customers. Talks specifically about how many customers she works with on a regular basis. Works specifically with names. Goes straight to refine search at 20.50 says its her primary focus

        %li
          %a(href="#" onclick="bookmarkNav(this)") 20.45
          %strong Favorite a page
          Finds it, but indicates that it took her a second. She was looking where it used to be.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.20
          %strong 6: Keep closed
          "Hides the overall navigation and keeps you in your one tab." Suggests the term "Hide Navigation" as an alternate

        %li
          %a(href="#" onclick="bookmarkNav(this)") 23.47
          %strong Video end
          Video cuts off here because I was recording in high quality and didn't realize it could only process 23 minutes of it at a time.

    .video__wrapper
      %video#testrecording(controls)
        %source(src="source_videos/julia_partial.mov" type="video/mp4")
    .videoSpeedControls
      %button(href="#" onClick="playSpeed(1.0)") 1x
      %button(href="#" onClick="playSpeed(1.5)") 1.5x
      %button(href="#" onClick="playSpeed(2.0)") 2x
      %button(href="#" onClick="playSpeed(3.0)") 3x
  :javascript
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }

julia.html
<!DOCTYPE html>
<head>
  <title>ACGI Video Viewer</title>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='viewer'>
    <div class='sidebar'>
      <header class='sidebar__header'>
        <div class='sidebar__disclaimer'>
          <h6>For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.</h6>
        </div>
        <h1><strong>Name</strong>: Julia Merrill</h1>
        <h2><strong>Location</strong>: AASLD on 20160524</h2>
        <h3><strong>About</strong>: Julia largely works with donations from members I think. I honestly don't remember so that's neat.</h3>
      </header>
      <ul class='subtitles'>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>04.04</a>
          <strong>5 Second Test: 1</strong>
          Immediately identified icons on the left side.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>04.59</a>
          <strong>5 Second Test: 2</strong>
          Identifies that the left menu is what used to be the tabs. "It looked like main navigation"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>06.47</a>
          <strong>2a: Expo Attendees Email</strong>
          No issues, browsed easily and found it.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav2(this)'>07.56</a>
          <strong>2b: (Create a new customer)</strong>
          Here we saw her get lost inside of the reporting navigation because she was looking for customers and clicked into the customers nav inside of reporting instead of the customers module. This is something we saw a few times over.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>08.30</a>
          <strong>2c: Check for Duplicates</strong>
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>09.10</a>
          <strong>2d: Set a Batch</strong>
          Pretty much instantly identified the batch control. Indicates that she needs to set up the batch first.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>09.35</a>
          <strong>2e: Issue a refund</strong>
          Grid display bug at 12.04
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>12.25</a>
          <strong>3a & 3b: Switch View and Actions</strong>
          She assumed that the switch view and actions would be part of the main navigation, so that's why she looked over there
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>13.05</a>
          <strong>2f: Find by Email</strong>
          The only person who actually knew what refine search is or does.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>14.50</a>
          <strong>4: Random Page Test 1</strong>
          Determines where she is by using the breadcrumbs
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>15.26</a>
          <strong>4: Random Page Test 2</strong>
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>16.00</a>
          <strong>5a-d: Menu Functions</strong>
          Recents - Where I've recently been (Recants at 17.33, but still identified it incorrectly). Correctly identifies Close Button. Isn't sure what the stay closed
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>18.41</a>
          <strong>Discussion of customer focus</strong>
          She talks about how she works on specific customers, and how she switches between these different customers. Talks specifically about how many customers she works with on a regular basis. Works specifically with names. Goes straight to refine search at 20.50 says its her primary focus
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>20.45</a>
          <strong>Favorite a page</strong>
          Finds it, but indicates that it took her a second. She was looking where it used to be.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.20</a>
          <strong>6: Keep closed</strong>
          "Hides the overall navigation and keeps you in your one tab." Suggests the term "Hide Navigation" as an alternate
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>23.47</a>
          <strong>Video end</strong>
          Video cuts off here because I was recording in high quality and didn't realize it could only process 23 minutes of it at a time.
        </li>
      </ul>
    </div>
    <div class='video__wrapper'>
      <video controls id='testrecording'>
        <source src='source_videos/julia_partial.mov' type='video/mp4'>
      </video>
    </div>
    <div class='videoSpeedControls'>
      <button href='#' onClick='playSpeed(1.0)'>1x</button>
      <button href='#' onClick='playSpeed(1.5)'>1.5x</button>
      <button href='#' onClick='playSpeed(2.0)'>2x</button>
      <button href='#' onClick='playSpeed(3.0)'>3x</button>
    </div>
  </div>
  <script>
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
  </script>
</body>
