kristin.html
<!DOCTYPE html>
<head>
  <title>ACGI Video Viewer</title>
  <link href='css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class='viewer'>
    <div class='sidebar'>
      <header class='sidebar__header'>
        <div class='sidebar__disclaimer'>
          <h6>For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.</h6>
        </div>
        <h1><strong>Name</strong>: Kristin</h1>
        <h2><strong>Location</strong>: AASLD on 20160524</h2>
        <h3><strong>About</strong>: Manages committee records and rosters. Disclosure of conflicts of interests. Uses AA for very specific things. Rosters and committee records. Rarely uses distribution lists.</h3>
      </header>
      <ul class='subtitles'>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>13.30</a>
          <strong>5 Second Test 1</strong>
          Didn't have a strong reaction to anything, deep reading instead of scanning. Did not know where to navigate, but did see name boxes up near the top. "I would probably go to a search box"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>14.54</a>
          <strong>5 Second Test 2</strong>
          Sees the left navigation options, says that she would explore into it
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>17.44</a>
          <strong>Initial Log in</strong>
          Immediately scrolls on the left side
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>18.15</a>
          <strong>2a: Expo attendees emails</strong>
          Explores into reporting. Doesn't see the options expand under the reporting tab when she clicks on it, so she doesnt explore farther into the tab.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>19.12</a>
          <strong>2b: Create an Individual</strong>
          Search first to see if they were in there. Explores into customer and finds the create new individual
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>20.03</a>
          <strong>2d: Batch</strong>
          Immediately looks at the batch control dropdown. Doesn't know how to create a batch and doesn't currently use it. "If it was something obvious I might try it"
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>21.53</a>
          <strong>2c: Check for duplicates</strong>
          Searches by name. Sends it to Chris or Mary
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>22.45</a>
          <strong>2f: Lookup by email address</strong>
          Looks for email address in the lookup dropdown. Tries to just throw the email in the search box with "Customer Name" selected.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>24.54</a>
          <strong>Customer Lookup example</strong>
          Talks about how the committee works with stepping though compared to the previous software that they had. Jumps into the lookup dropdown looking for the switch view. Continues through <a href="#" onclick="bookmarkNav(this)">32.11</a>
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>26.19</a>
          <strong>3a: Switch view</strong>
          Looks at the lookup dropdwon and scrolls up and down in the navgati pane before finding the switch view.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>31.00</a>
          <strong>3b: Actions menu</strong>
          Finds how to add someone very quickly
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>32.58</a>
          <strong>4a: Test 1</strong>
          "That's the item on the left that's highlighted" Secondarily notices the top breadcrumbs
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>35.03</a>
          <strong>5a: Recents explanation</strong>
          Anywehre I had been recently
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>35.12</a>
          <strong>5b: Favorites explanation</strong>
          "Anywhere that I went a lot like rosters, assuming I get to choose what's in favorites" She knows that it's user controled
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>35.41</a>
          <strong>5c: Close button</strong>
          Thinks that it would close the main pane. Thinks that the arrow means that it's taking you back somewhere. Explores into it and notices that it closes the left navigation. References the old lookup
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>36.55</a>
          <strong>5d: Stay closed</strong>
          "I would not do that because I'm afraid of what that would mean." Doesn't see the other navigation options, and isn't entirely sure what's happening. She says that she hopes it would declutter the screen.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>40.03</a>
          <strong>7: Left vs right search</strong>
          Right search is for a specific person. Left search is for the broader navigation. Types in reporting and goes to the BOXI reporting. "It takes the place of the top navigation."
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>42.28</a>
          <strong>Information about their disclosure collecting</strong>
          Current departments collect different information and memebers are asked for the same information multiple times, which is frustrating to the end users. Shows me the PDF forms at <a href="#" onclick="bookmarkNav(this)">44.50</a>. Email requirements at <a href="#" onclick="bookmarkNav(this)">51.30</a>.
        </li>
        <li>
          <a href='#' onclick='bookmarkNav(this)'>58.55</a>
          <strong>End of interview</strong>
        </li>
      </ul>
    </div>
    <div class='video__wrapper'>
      <video controls id='testrecording'>
        <source src='source_videos/kristin_full.mov' type='video/mp4'>
      </video>
    </div>
    <div class='videoSpeedControls'>
      <button href='#' onClick='playSpeed(1.0)'>1x</button>
      <button href='#' onClick='playSpeed(1.5)'>1.5x</button>
      <button href='#' onClick='playSpeed(2.0)'>2x</button>
      <button href='#' onClick='playSpeed(3.0)'>3x</button>
    </div>
  </div>
  <script>
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
  </script>
</body>

kristin.haml
!!!
%head
  %title ACGI Video Viewer
  %link(rel="stylesheet" type="text/css" href="css/style.css")
%body
  .viewer
    .sidebar
      %header.sidebar__header
        .sidebar__disclaimer
          %h6 For internal use only. These videos were taken for internal reference, and should not be shared with any clients or external parties.
        %h1 <strong>Name</strong>: Kristin
        %h2 <strong>Location</strong>: AASLD on 20160524
        %h3 <strong>About</strong>: Manages committee records and rosters. Disclosure of conflicts of interests. Uses AA for very specific things. Rosters and committee records. Rarely uses distribution lists.
      %ul.subtitles
        %li
          %a(href="#" onclick="bookmarkNav(this)") 13.30
          %strong 5 Second Test 1
          Didn't have a strong reaction to anything, deep reading instead of scanning. Did not know where to navigate, but did see name boxes up near the top. "I would probably go to a search box"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 14.54
          %strong 5 Second Test 2
          Sees the left navigation options, says that she would explore into it

        %li
          %a(href="#" onclick="bookmarkNav(this)") 17.44
          %strong Initial Log in
          Immediately scrolls on the left side

        %li
          %a(href="#" onclick="bookmarkNav(this)") 18.15
          %strong 2a: Expo attendees emails
          Explores into reporting. Doesn't see the options expand under the reporting tab when she clicks on it, so she doesnt explore farther into the tab.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 19.12
          %strong 2b: Create an Individual
          Search first to see if they were in there. Explores into customer and finds the create new individual

        %li
          %a(href="#" onclick="bookmarkNav(this)") 20.03
          %strong 2d: Batch
          Immediately looks at the batch control dropdown. Doesn't know how to create a batch and doesn't currently use it. "If it was something obvious I might try it"

        %li
          %a(href="#" onclick="bookmarkNav(this)") 21.53
          %strong 2c: Check for duplicates
          Searches by name. Sends it to Chris or Mary

        %li
          %a(href="#" onclick="bookmarkNav(this)") 22.45
          %strong 2f: Lookup by email address
          Looks for email address in the lookup dropdown. Tries to just throw the email in the search box with "Customer Name" selected.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 24.54
          %strong Customer Lookup example
          Talks about how the committee works with stepping though compared to the previous software that they had. Jumps into the lookup dropdown looking for the switch view. Continues through <a href="#" onclick="bookmarkNav(this)">32.11</a>

        %li
          %a(href="#" onclick="bookmarkNav(this)")  26.19
          %strong 3a: Switch view
          Looks at the lookup dropdwon and scrolls up and down in the navgati pane before finding the switch view.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 31.00
          %strong 3b: Actions menu
          Finds how to add someone very quickly

        %li
          %a(href="#" onclick="bookmarkNav(this)") 32.58
          %strong 4a: Test 1
          "That's the item on the left that's highlighted" Secondarily notices the top breadcrumbs

        %li
          %a(href="#" onclick="bookmarkNav(this)") 35.03
          %strong 5a: Recents explanation
          Anywehre I had been recently

        %li
          %a(href="#" onclick="bookmarkNav(this)") 35.12
          %strong 5b: Favorites explanation
          "Anywhere that I went a lot like rosters, assuming I get to choose what's in favorites" She knows that it's user controled

        %li
          %a(href="#" onclick="bookmarkNav(this)") 35.41
          %strong 5c: Close button
          Thinks that it would close the main pane. Thinks that the arrow means that it's taking you back somewhere. Explores into it and notices that it closes the left navigation. References the old lookup

        %li
          %a(href="#" onclick="bookmarkNav(this)") 36.55
          %strong 5d: Stay closed
          "I would not do that because I'm afraid of what that would mean." Doesn't see the other navigation options, and isn't entirely sure what's happening. She says that she hopes it would declutter the screen.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 40.03
          %strong 7: Left vs right search
          Right search is for a specific person. Left search is for the broader navigation. Types in reporting and goes to the BOXI reporting. "It takes the place of the top navigation."

        %li
          %a(href="#" onclick="bookmarkNav(this)") 42.28
          %strong Information about their disclosure collecting
          Current departments collect different information and memebers are asked for the same information multiple times, which is frustrating to the end users. Shows me the PDF forms at <a href="#" onclick="bookmarkNav(this)">44.50</a>. Email requirements at <a href="#" onclick="bookmarkNav(this)">51.30</a>.

        %li
          %a(href="#" onclick="bookmarkNav(this)") 58.55
          %strong End of interview

    .video__wrapper
      %video#testrecording(controls)
        %source(src="source_videos/kristin_full.mov" type="video/mp4")
    .videoSpeedControls
      %button(href="#" onClick="playSpeed(1.0)") 1x
      %button(href="#" onClick="playSpeed(1.5)") 1.5x
      %button(href="#" onClick="playSpeed(2.0)") 2x
      %button(href="#" onClick="playSpeed(3.0)") 3x
  :javascript
    var video = document.getElementById("testrecording");
    function bookmarkNav(time){
      time = time.innerHTML;
      if (time.toString().indexOf('.') != -1){
        explode = time.toString().split(".");
        time =  parseInt(explode[0]) * 60 + parseInt(explode[1]);
      }
      video.currentTime = time;
      video.play();
    }
    function playSpeed(speed){
      video.playbackRate = speed;
    }
